layout {

    focus-ring {
        active-color   "#59dbc1"
        inactive-color "#101413"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#59dbc1"
        inactive-color "#101413"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#59dbc1"
        inactive-color "#005144"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#59dbc180"
    }
}

recent-windows {
    highlight {
        active-color "#59dbc1"
        urgent-color "#ffb4ab"
    }
}
